:root {
  --light-text-color: #fff;
  --dark-text-color: #020814;
  --light-background-color: #fff;
  --dark-background-color: #1f2530;
  --accent-color-light: #ec6f7f;
  --accent-color: #a0934d;
  --accent-color-dark: #9e3a47;
  --dynamic-viewport-height: 100vh;
  --dynamic-viewport-width: 100vw;
}

@supports (height: 100dvh) {
  :root {
    --dynamic-viewport-height: 100dvh;
    --dynamic-viewport-width: 100dvw;
  }
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ffffffec;
  z-index: 10000;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

.load-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  text-align: center;
  gap: 1rem;
}

.load-container h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.load-container p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
}

.bottom {
  background-color: var(--dark-background-color);
  position: fixed;
  bottom: 0px;
  padding-top: 1rem;
  width: 100%;
  margin: 0;
  p {
    color: var(--light-text-color);
    font-size: .8rem;
    font-style: italic;
  }
  
}

.loading-text {
  position: relative;
  display: inline-block;
}

.loading-text::after {
  content: ".";
  position: absolute;
  animation: ellipsis 1s steps(4, end) infinite;
}

.emoji-small {
  font-style: normal;
}

#mapContainer {
  position: relative;
  width: var(--dynamic-viewport-width); 
  height: var(--dynamic-viewport-height); 
  overflow: hidden;
}

.crosshairs {
  position: absolute;
  width: 30px;  
  height: 30px;
  border: 2px solid var(--dark-background-color); 
  border-radius: 50%;
  pointer-events: none; 
  z-index: 999;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); 
}

.crosshairs:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 2px;
  background: var(--dark-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.crosshairs:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 8px;
  background: var(--dark-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#map {
  position: relative;
  width: 100%;
  height: 100%;
}

.locDot {
  background: var(--dark-background-color) !important;
  color: var(--light-text-color) !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: var(--dark-background-color) !important;
}

.leaflet-control-zoom-in > span:nth-child(1),
.leaflet-control-zoom-out > span:nth-child(1) {
  color: var(--light-text-color);
}

.leaflet-popup-content-wrapper {
  background: var(--dark-background-color);
  color: var(--light-text-color);
  font-size: 14px;
  line-height: 24px;
  border-radius: 4px;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: var(--dark-background-color);
}

input[type=submit] {
  background: var(--dark-background-color) !important;
  background-image: url(magnifying-glass-solid.svg)!important;
  background-size: 16px !important;
  background-position: 50% 50% !important;
  background-repeat: no-repeat !important;
  width: 29px;
  color: var(--dark-background-color);
  border: none;
  cursor: pointer;
  margin-left: 4px;
}









h2 {
  margin-block-start: 0px;
  margin-block-end: 0px;
} 

p {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

#sidebar {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 800px;
  width: 25rem;
  padding: 1.5rem;
  background-color: #ffffff;
  border: 2px solid rgb(23, 23, 22);
  z-index: 1000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  user-select: none;
}



@media only screen and (min-width: 1040px) {
  #sidebar {
      position: fixed;
      top: 0;
      right: 15px;
      
  }
  .main {
    display: contents;
    width: var(--dynamic-viewport-width);
    height: var(--dynamic-viewport-height);
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

.sidebarContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

@media only screen and (max-width: 1040px) {
  h1 {
    font-size: 2rem!important;
  }
  p {
    font-size: .9rem!important;
  }
  .main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    width: var(--dynamic-viewport-width);
    height: var(--dynamic-viewport-height);
    overflow: hidden;
    padding: 0;
    margin: 0;
    }
  #mapContainer {
    flex: 1;
    position: relative;
    width: 100%; 
    height: 100%;
    overflow: hidden;
  }
  .sidebarContainer {
    padding: 0rem 2rem;
  }
  #sidebar {
      bottom: 0;
      position: relative;
      max-width: 400px;
      height: fit-content;
      
      margin: 0px;
      gap: 8px;
      border: 0px;
      box-shadow: none;
  }
  .leaflet-control-attribution {
    font-size: 8px;
    background: rgba(255, 255, 255, 0.0)!important;
}
  
  
}

.top {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;

  p {
    font-style: italic;
    font-size: .8rem;
  }
}

.dateAndZone {
  padding: 5px 0px;
}

#goldenHours {
  color: white;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.rise {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#riseBar {
  background: white;
  width: 100%;
  height: 10px;
  margin: 4px 8px;
  border-radius: 4px;
  max-width: 400px;
}

.set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#setBar {
  background: white;
  width: 100%;
  height: 10px;
  margin: 4px 8px;
  border-radius: 4px;
  max-width: 400px;
}



.dateButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;

  button {
    width: 100%;
  }
}



button {
  padding: 11.2px 24px;
  font-size: 1rem;
  font-weight: 700;
  border: 2px solid rgb(23, 23, 22);
  color: rgb(23, 23, 22);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: rgb(255, 255, 255);
  translate: 2px -2px;
  box-shadow: -3px 3px 0px 1px rgba(0,0,0,1);
}

button:active {
  background-color: rgb(160, 160, 160);
}

.helpButton {
  font-size: .8rem;
  text-decoration: underline;
  cursor: pointer;
  user-select: none;
}

#theHelp {
  display: none;
}

#cal {
  width: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.ui-dialog {
  z-index: 10000 !important; /* Ensure the dialog is on top */
}

.ui-datepicker {
  width: 250px;
  padding: 0.2em 0.2em 0.2em 0.2em;
  display: none;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 10000;
}

.ui-widget-overlay {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the overlay */
  z-index: 9999; /* Place the overlay just below the dialog */
}

.ui-widget.ui-widget-content {
  border: none!important;
}

.ui-widget-header {
  border: none!important;
  background: var(--light-background-color);
  color: #333333;
  font-weight: bold;
}

.ui-widget-content {
  border: none;
  background: #ffffff;
  color: #333333;
}

.ui-dialog .ui-dialog-content {
  position: relative;
  border: 0;
  padding: 1rem;
  background: none;
  overflow: auto;
}

.ui-button-icon-only .ui-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -8.5px;
  margin-left: -8.5px;
}

.ui-button {
  
  border: 2px solid rgb(23, 23, 22)!important;
  color: rgb(23, 23, 22)!important;
  background-color: rgb(255, 255, 255)!important;
  border-radius: 0%!important;
}




.sunrise {
  background-color: #ffd700; /* Gold */
}

.sunset {
  background-color: #ffd700; /* Gold */
}
